<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina inicial</title>
    <%- include ("partials/cabecalho.ejs")%>
</head>

<body>
    <div>
        <h1>ERRO 404. VOLTE A PÁGINA INICIAL</h1>
        <H1><a href= "/"class="btn btn-primary">Voltar a Página Inicial</a></H1>
    </div>
     
</body>
<footer>
    <%- include ("partials/rodape.ejs")%>
</footer>
</html>