<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Carros</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>

<body>
    <h1 class="text-center">Relatório de Carros</h1>

    <table style="border: 1px solid; text-align: center; width: 100%;" class="table table-dark" border="4">
        <thead class="thead-light">
            <tr>
                <th scope="col">Placa</th>
                <th scope="col">Modelo</th>
                <th scope="col">Cor</th>
            </tr>
        </thead>
        <tbody>
            <% for(let carro of carros){ %>
                <tr>
                    <td scope="row">
                        <%= carro.placa %>
                    </td>
                    <td scope="row">
                        <%= carro.modelo %>
                    </td>
                    <td scope="row">
                        <%= carro.cor %>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>
</body>

</html>