<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relat칩rio de Usu치rios</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>

<body>
    <h1 class="text-center">Relat칩rio de Usu치rios</h1>

    <table style="border: 1px solid; text-align: center; width: 100%;" class="table table-dark" border="4">
        <thead class="thead-light">
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">E-Mail</th>
            </tr>
        </thead>
        <tbody>
            <% for(let usuario of usuarios){ %>
                <tr>
                    <td scope="row">
                        <%= usuario.nome %>
                    </td>
                    <td scope="row">
                        <%= usuario.email %>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>
</body>

</html>